<div class="sc-advertising-placement-cards">
    <article class="sc-advertising-placement-card">
        <div class="sc-advertising-placement-media">
            <div class="sc-advertising-placement-img-wrap">
                <img class="sc-advertising-placement-img" src="{{asset "imagesAndIcons/contact-bg.png"}}" alt="" width="520" height="280" loading="lazy" decoding="async">
                <span class="sc-advertising-placement-badge">{{t "Top List Ranking"}}</span>
            </div>
            <p class="sc-advertising-placement-details-label">{{t "Details"}}</p>
            <hr class="sc-advertising-placement-rule">
            <dl class="sc-advertising-placement-dl">
                <div><dt>{{t "Available"}}</dt><dd>{{t "Yes"}}</dd></div>
                <div><dt>{{t "Social Shares"}}</dt><dd class="sc-advertising-placement-socials">
                    <img src="{{asset "imagesAndIcons/facebook.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/x.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/tiktok.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/youtube.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                </dd></div>
                <div><dt>{{t "Site Location"}}</dt><dd>{{t "Site location top list"}}</dd></div>
            </dl>
        </div>
        <div class="sc-advertising-placement-body">
            <h3 class="sc-advertising-placement-h3">{{t "Top Sticky Header"}}</h3>
            <p class="sc-advertising-placement-copy">{{t "Featured placement intro"}}</p>
            <h3 class="sc-advertising-placement-h3">{{t "Who's it for"}}</h3>
            <p class="sc-advertising-placement-copy">{{t "Featured placement intro"}}</p>
            <a class="sc-advertising-placement-cta" href="#">{{t "Get Started"}}</a>
        </div>
    </article>
    <article class="sc-advertising-placement-card">
        <div class="sc-advertising-placement-media">
            <div class="sc-advertising-placement-img-wrap">
                <img class="sc-advertising-placement-img" src="{{asset "imagesAndIcons/contact-bg.png"}}" alt="" width="520" height="280" loading="lazy" decoding="async">
                <span class="sc-advertising-placement-badge">{{t "Top List Ranking"}}</span>
            </div>
            <p class="sc-advertising-placement-details-label">{{t "Details"}}</p>
            <hr class="sc-advertising-placement-rule">
            <dl class="sc-advertising-placement-dl">
                <div><dt>{{t "Available"}}</dt><dd>{{t "Yes"}}</dd></div>
                <div><dt>{{t "Social Shares"}}</dt><dd class="sc-advertising-placement-socials">
                    <img src="{{asset "imagesAndIcons/facebook.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/x.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/tiktok.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                    <img src="{{asset "imagesAndIcons/youtube.svg"}}" alt="" width="18" height="18" loading="lazy" aria-hidden="true">
                </dd></div>
                <div><dt>{{t "Site Location"}}</dt><dd>{{t "Site location top list"}}</dd></div>
            </dl>
        </div>
        <div class="sc-advertising-placement-body">
            <h3 class="sc-advertising-placement-h3">{{t "Bottom Sticky Footer"}}</h3>
            <p class="sc-advertising-placement-copy">{{t "Featured placement intro"}}</p>
            <h3 class="sc-advertising-placement-h3">{{t "Who's it for"}}</h3>
            <p class="sc-advertising-placement-copy">{{t "Featured placement intro"}}</p>
            <a class="sc-advertising-placement-cta" href="#">{{t "Get Started"}}</a>
        </div>
    </article>
</div>
