<div class="sc-directory-tabs" role="tablist" aria-label="Directory tabs">
    <button class="sc-directory-tab is-active" type="button" role="tab" aria-selected="true" data-tab-target="people" data-list-title='{{t "All People"}}' data-list-lede='{{t "Directory people lede"}}'>{{t "People"}}</button>
    <button class="sc-directory-tab" type="button" role="tab" aria-selected="false" data-tab-target="companies" data-list-title='{{t "All Companies"}}' data-list-lede='{{t "Directory companies lede"}}'>{{t "Companies"}}</button>
    <button class="sc-directory-tab" type="button" role="tab" aria-selected="false" data-tab-target="products" data-list-title='{{t "All Products"}}' data-list-lede='{{t "Directory products lede"}}'>{{t "Products"}}</button>
</div>

<div class="sc-directory-filters" role="tablist" aria-label="Directory category filters">
    <button class="sc-directory-chip is-active" type="button" data-directory-filter="all">{{t "All"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="exchanges">{{t "Exchanges"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="wallets">{{t "Wallets"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="analytics">{{t "Analytics"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="lorem-ipsum">Lorem Ipsum</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="defi">{{t "DeFi Apps"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="on-chain">{{t "On-Chain"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="ai">{{t "AI"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="nft">{{t "NFT"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="news">{{t "News"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="research">{{t "Research"}}</button>
    <button class="sc-directory-chip" type="button" data-directory-filter="launchpads">{{t "Launchpads"}}</button>
</div>
