<section class="sc-directory">
    <div class="sc-directory-inner">
        <h2 class="sc-directory-title">{{t "Directory"}}</h2>

        <div class="sc-directory-tabs" role="tablist" aria-label="Directory tabs">
            <button class="sc-directory-tab is-active" type="button" role="tab" aria-selected="true" data-tab-target="people">{{t "People"}}</button>
            <button class="sc-directory-tab" type="button" role="tab" aria-selected="false" data-tab-target="companies">{{t "Companies"}}</button>
            <button class="sc-directory-tab" type="button" role="tab" aria-selected="false" data-tab-target="products">{{t "Products"}}</button>
        </div>

        <div class="sc-directory-filters" role="tablist" aria-label="Directory category filters">
            <button class="sc-directory-chip is-active" type="button" data-directory-filter="all">{{t "All"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="exchanges">{{t "Exchanges"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="wallets">{{t "Wallets"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="analytics">{{t "Analytics"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="defi">{{t "DeFi Apps"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="on-chain">{{t "On-Chain"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="ai">{{t "AI"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="nft">{{t "NFT"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="news">{{t "News"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="research">{{t "Research"}}</button>
            <button class="sc-directory-chip" type="button" data-directory-filter="launchpads">{{t "Launchpads"}}</button>
        </div>

        <div class="sc-directory-panel is-active" data-tab-panel="people">
            <div class="sc-directory-grid">
                {{#if @custom.directory_people_source_filter}}
                {{#get "posts" filter=@custom.directory_people_source_filter include="authors,tags" limit="12" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card" data-tags="all {{#foreach tags visibility="all"}}{{slug}} {{/foreach}}">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/AuthorAvatarDefault.jpg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}
                                    {{#has tag="#verified,verified"}}
                                    <span class="sc-directory-badge" aria-label="Verified">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="9" cy="9" r="9" fill="#00A9FF"/>
                                            <path d="M5.5 9.3L8 11.8L12.5 7.3" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                    {{/has}}
                                </h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Contributor"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{/if}}
                {{/get}}
                {{else}}
                {{#get "posts" filter="tags:[people,person,founder,founders,ceo,cto]" include="authors,tags" limit="12" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card" data-tags="all {{#foreach tags visibility="all"}}{{slug}} {{/foreach}}">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/AuthorAvatarDefault.jpg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}
                                    {{#has tag="#verified,verified"}}
                                    <span class="sc-directory-badge" aria-label="Verified">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="9" cy="9" r="9" fill="#00A9FF"/>
                                            <path d="M5.5 9.3L8 11.8L12.5 7.3" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                    {{/has}}
                                </h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Contributor"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{else}}
                        {{#get "authors" include="count.posts" limit="12" order="count.posts desc"}}
                            {{#foreach authors}}
                            <article class="sc-directory-card" data-tags="all">
                                <img class="sc-directory-avatar" src="{{#if profile_image}}{{img_url profile_image size="s"}}{{else}}{{asset "imagesAndIcons/AuthorAvatarDefault.jpg"}}{{/if}}" alt="{{name}}">
                                <div class="sc-directory-info">
                                    <h3 class="sc-directory-name">{{name}}</h3>
                                    <p class="sc-directory-role">{{#if bio}}{{bio}}{{else}}{{t "Contributor"}}{{/if}}</p>
                                </div>
                            </article>
                            {{/foreach}}
                        {{/get}}
                    {{/if}}
                {{/get}}
                {{/if}}
            </div>
        </div>

        <div class="sc-directory-panel" data-tab-panel="companies">
            <div class="sc-directory-grid">
                {{#if @custom.directory_companies_source_filter}}
                {{#get "posts" filter=@custom.directory_companies_source_filter include="authors,tags" limit="8" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/bitcoin.svg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}</h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Company"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{else}}
                        {{#get "posts" include="authors,tags" limit="8" order="published_at desc"}}
                            {{#foreach posts}}
                            <article class="sc-directory-card">
                                <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/bitcoin.svg"}}{{/if}}" alt="{{title}}">
                                <div class="sc-directory-info">
                                    <h3 class="sc-directory-name">{{title}}</h3>
                                    <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Company"}}{{/if}}{{/if}}</p>
                                </div>
                            </article>
                            {{/foreach}}
                        {{/get}}
                    {{/if}}
                {{/get}}
                {{else}}
                {{#get "posts" filter="tags:[companies,company]" include="authors,tags" limit="8" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/bitcoin.svg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}</h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Company"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{else}}
                        {{#get "posts" include="authors,tags" limit="8" order="published_at desc"}}
                            {{#foreach posts}}
                            <article class="sc-directory-card">
                                <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/bitcoin.svg"}}{{/if}}" alt="{{title}}">
                                <div class="sc-directory-info">
                                    <h3 class="sc-directory-name">{{title}}</h3>
                                    <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Company"}}{{/if}}{{/if}}</p>
                                </div>
                            </article>
                            {{/foreach}}
                        {{/get}}
                    {{/if}}
                {{/get}}
                {{/if}}
            </div>
        </div>

        <div class="sc-directory-panel" data-tab-panel="products">
            <div class="sc-directory-grid">
                {{#if @custom.directory_products_source_filter}}
                {{#get "posts" filter=@custom.directory_products_source_filter include="authors,tags" limit="8" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/defi.svg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}</h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Product"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{else}}
                        {{#get "posts" include="authors,tags" limit="8" order="published_at desc"}}
                            {{#foreach posts}}
                            <article class="sc-directory-card">
                                <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/defi.svg"}}{{/if}}" alt="{{title}}">
                                <div class="sc-directory-info">
                                    <h3 class="sc-directory-name">{{title}}</h3>
                                    <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Product"}}{{/if}}{{/if}}</p>
                                </div>
                            </article>
                            {{/foreach}}
                        {{/get}}
                    {{/if}}
                {{/get}}
                {{else}}
                {{#get "posts" filter="tags:[products,product,reviews]" include="authors,tags" limit="8" order="published_at desc"}}
                    {{#if posts}}
                        {{#foreach posts}}
                        <article class="sc-directory-card">
                            <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/defi.svg"}}{{/if}}" alt="{{title}}">
                            <div class="sc-directory-info">
                                <h3 class="sc-directory-name">{{title}}</h3>
                                <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Product"}}{{/if}}{{/if}}</p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{else}}
                        {{#get "posts" include="authors,tags" limit="8" order="published_at desc"}}
                            {{#foreach posts}}
                            <article class="sc-directory-card">
                                <img class="sc-directory-avatar" src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset "imagesAndIcons/defi.svg"}}{{/if}}" alt="{{title}}">
                                <div class="sc-directory-info">
                                    <h3 class="sc-directory-name">{{title}}</h3>
                                    <p class="sc-directory-role">{{#if excerpt}}{{excerpt words="8"}}{{else}}{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Product"}}{{/if}}{{/if}}</p>
                                </div>
                            </article>
                            {{/foreach}}
                        {{/get}}
                    {{/if}}
                {{/get}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

<script>
(function () {
    var tabs = document.querySelectorAll('.sc-directory-tab');
    var panels = document.querySelectorAll('.sc-directory-panel');
    var chips = document.querySelectorAll('.sc-directory-chip');
    var activeFilter = 'all';

    if (!tabs.length || !panels.length) return;

    function applyFilter() {
        var activePanel = document.querySelector('.sc-directory-panel.is-active');
        if (!activePanel) return;

        var cards = activePanel.querySelectorAll('.sc-directory-card');
        cards.forEach(function (card) {
            if (activeFilter === 'all') {
                card.style.display = '';
                return;
            }

            var tags = (card.getAttribute('data-tags') || '').toLowerCase();
            if (!tags) {
                card.style.display = '';
                return;
            }

            card.style.display = tags.indexOf(activeFilter.toLowerCase()) > -1 ? '' : 'none';
        });
    }

    tabs.forEach(function (tab) {
        tab.addEventListener('click', function () {
            var target = tab.getAttribute('data-tab-target');

            tabs.forEach(function (t) {
                t.classList.remove('is-active');
                t.setAttribute('aria-selected', 'false');
            });

            panels.forEach(function (panel) {
                panel.classList.remove('is-active');
            });

            tab.classList.add('is-active');
            tab.setAttribute('aria-selected', 'true');

            var nextPanel = document.querySelector('.sc-directory-panel[data-tab-panel="' + target + '"]');
            if (nextPanel) {
                nextPanel.classList.add('is-active');
                applyFilter();
            }
        });
    });

    chips.forEach(function (chip) {
        chip.addEventListener('click', function () {
            activeFilter = chip.getAttribute('data-directory-filter') || 'all';

            chips.forEach(function (c) {
                c.classList.remove('is-active');
            });
            chip.classList.add('is-active');

            applyFilter();
        });
    });

    applyFilter();
})();
</script>
