<div class="sitelinks-container">
    <div class="sitelinks-item"><strong>{{t "Who we are"}}</strong>
        <ul>
            <li class="sitelinks-link">
                <a href="/about">{{t "About"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/contact-us">{{t "Contact us"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/advertising">{{t "Advertisement"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/imprint">{{t "Imprint"}}</a>
            </li>
        </ul>
    </div>

    <div class="sitelinks-item"><strong>{{t "Contents"}}</strong>
        <ul>
            <li class="sitelinks-link">
                <a href="/{{t "Link Newsletter"}}">{{t "Newsletter"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Web3"}}">{{t "Web3 Guide"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Cryptoguide"}}">{{t "Crypto Guide"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Walletguide"}}">{{t "Wallet Guide"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Exchangeguide"}}">{{t "Exchange Guide"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Events"}}">{{t "Events"}}</a>
            </li>
        </ul>
    </div>

    <div class="sitelinks-item"><strong>{{t "Directory"}}</strong>
        <ul>
            <li class="sitelinks-link">
                <a href="/{{t "Link Exchanges"}}">{{t "Exchanges"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Investors"}}">{{t "Investors"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Programmers"}}">{{t "Programmers"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Founders"}}">{{t "Founders"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Executives"}}">{{t "Executives"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Influencers"}}">{{t "Influencers"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Companies"}}">{{t "Companies"}}</a>
            </li>
        </ul>
    </div>

    <div class="sitelinks-item"><strong>{{t "Resources"}}</strong>
        <ul>
            <li class="sitelinks-link">
                <a href="#/portal/support">{{t "Donation"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/sitemap.xml">{{t "Sitemap"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/rss/">{{t "RSS feed"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="/{{t "Link Glossary"}}">{{t "Glossary"}}</a>
            </li>
            <li class="sitelinks-link">
                <a href="https://www.linkedin.com/company/spaziocrypto/jobs/">{{t "Jobs"}}</a>
            </li>
        </ul>


    </div>
</div>