<section class="sc-pr-feed">
    <div class="sc-pr-inner">
        <h2 class="sc-pr-title">{{t "Sponsored Press Releases"}}</h2>

        <div class="sc-pr-list">
            <article class="sc-pr-item">
                <a class="sc-pr-item-image" href="#" aria-label="Press Release">
                    <img src="{{asset 'imagesAndIcons/press.png'}}" alt="Press Release" loading="lazy" />
                </a>
                <div class="sc-pr-item-content">
                    <span class="sc-pr-item-tag">{{t "Press Releases"}}</span>
                    <h3 class="sc-pr-item-title"><a href="#">Crypto AI Analysis: Which Tokens Are Driving the Market Rebound</a></h3>
                    <p class="sc-pr-item-meta">Lorem Ipsum <span>·</span> Jun/5/2026</p>
                </div>
            </article>

            <article class="sc-pr-item">
                <a class="sc-pr-item-image" href="#" aria-label="Press Release">
                    <img src="{{asset 'imagesAndIcons/press.png'}}" alt="Press Release" loading="lazy" />
                </a>
                <div class="sc-pr-item-content">
                    <span class="sc-pr-item-tag">{{t "Press Releases"}}</span>
                    <h3 class="sc-pr-item-title"><a href="#">Crypto AI Analysis: Which Tokens Are Driving the Market Rebound</a></h3>
                    <p class="sc-pr-item-meta">Lorem Ipsum <span>·</span> Jun/5/2026</p>
                </div>
            </article>

            <article class="sc-pr-item">
                <a class="sc-pr-item-image" href="#" aria-label="Press Release">
                    <img src="{{asset 'imagesAndIcons/press.png'}}" alt="Press Release" loading="lazy" />
                </a>
                <div class="sc-pr-item-content">
                    <span class="sc-pr-item-tag">{{t "Press Releases"}}</span>
                    <h3 class="sc-pr-item-title"><a href="#">Crypto AI Analysis: Which Tokens Are Driving the Market Rebound</a></h3>
                    <p class="sc-pr-item-meta">Lorem Ipsum <span>·</span> Jun/5/2026</p>
                </div>
            </article>
        </div>

        <div class="sc-pr-cta">
            <div class="sc-pr-cta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path d="M1.82812 7.76603C1.82812 4.56824 3.65543 3.19775 6.3964 3.19775H15.5329C18.2739 3.19775 20.1012 4.56824 20.1012 7.76603V14.1616C20.1012 17.3594 18.2739 18.7299 15.5329 18.7299H6.3964" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.533 8.22314L12.6733 10.5073C11.7322 11.2565 10.1881 11.2565 9.24708 10.5073L6.39648 8.22314" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.82812 15.0752H7.31005" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.82812 11.4209H4.56909" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="sc-pr-cta-copy">
                <h3>{{{t "Submit Your <span>Press Release</span>"}}}</h3>
                <p>{{t "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to"}}</p>
            </div>
            <a href="#" class="sc-pr-cta-btn">{{t "View All Benefits"}}</a>
        </div>
    </div>
</section>