<section class="sc-pr-feed">
    <div class="sc-pr-inner">
        <h2 class="sc-pr-title">{{t "Sponsored Press Releases"}}</h2>

        <div class="sc-pr-list">
            {{#if @custom.press_release_source_filter}}
            {{#get "posts" filter=@custom.press_release_source_filter limit="3" include="authors,tags" order="published_at desc"}}
                {{#if posts}}
                    {{#foreach posts}}
                    <article class="sc-pr-item">
                        <a class="sc-pr-item-image" href="{{url}}" aria-label="{{title}}">
                            <img src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset 'imagesAndIcons/press.png'}}{{/if}}" alt="{{title}}" loading="lazy" />
                        </a>
                        <div class="sc-pr-item-content">
                            <span class="sc-pr-item-tag">{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Press Releases"}}{{/if}}</span>
                            <h3 class="sc-pr-item-title"><a href="{{url}}">{{title}}</a></h3>
                            <p class="sc-pr-item-meta">
                                <span class="sc-pr-meta-fallback">{{#if primary_author}}{{primary_author.name}}{{else}}{{@site.title}}{{/if}}</span>
                                <span class="sc-pr-meta-fallback">{{date format="MMM D, YYYY"}}</span>
                                <span class="sc-pr-meta-flags">
                                    {{#foreach tags visibility="all"}}
                                        {{#match slug "^hash-"}}
                                        <span class="sc-pr-internal-flag">{{name}}</span>
                                        {{/match}}
                                    {{/foreach}}
                                </span>
                            </p>
                        </div>
                    </article>
                    {{/foreach}}
                {{else}}
                    {{#get "posts" filter="(tag:sponsored-content,tag:sponsored-press-release,tag:press-release,tag:press-releases,tag:sponsored)+tag:-jobs+tag:-job+tag:-careers+tag:-hiring+tag:-events+tag:-event+tag:-hash-jobs+tag:-hash-job+tag:-hash-careers+tag:-hash-hiring" limit="3" include="authors,tags" order="published_at desc"}}
                        {{#foreach posts}}
                        <article class="sc-pr-item">
                            <a class="sc-pr-item-image" href="{{url}}" aria-label="{{title}}">
                                <img src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset 'imagesAndIcons/press.png'}}{{/if}}" alt="{{title}}" loading="lazy" />
                            </a>
                            <div class="sc-pr-item-content">
                                <span class="sc-pr-item-tag">{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Latest"}}{{/if}}</span>
                                <h3 class="sc-pr-item-title"><a href="{{url}}">{{title}}</a></h3>
                                <p class="sc-pr-item-meta">
                                    <span class="sc-pr-meta-fallback">{{#if primary_author}}{{primary_author.name}}{{else}}{{@site.title}}{{/if}}</span>
                                    <span class="sc-pr-meta-fallback">{{date format="MMM D, YYYY"}}</span>
                                    <span class="sc-pr-meta-flags">
                                        {{#foreach tags visibility="all"}}
                                            {{#match slug "^hash-"}}
                                            <span class="sc-pr-internal-flag">{{name}}</span>
                                            {{/match}}
                                        {{/foreach}}
                                    </span>
                                </p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{/get}}
                {{/if}}
            {{/get}}
            {{else}}
            {{#get "posts" filter="(tag:sponsored-content,tag:sponsored-press-release,tag:press-release,tag:press-releases,tag:sponsored)+tag:-jobs+tag:-job+tag:-careers+tag:-hiring+tag:-events+tag:-event+tag:-hash-jobs+tag:-hash-job+tag:-hash-careers+tag:-hash-hiring" limit="3" include="authors,tags" order="published_at desc"}}
                {{#if posts}}
                    {{#foreach posts}}
                    <article class="sc-pr-item">
                        <a class="sc-pr-item-image" href="{{url}}" aria-label="{{title}}">
                            <img src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset 'imagesAndIcons/press.png'}}{{/if}}" alt="{{title}}" loading="lazy" />
                        </a>
                        <div class="sc-pr-item-content">
                            <span class="sc-pr-item-tag">{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Press Releases"}}{{/if}}</span>
                            <h3 class="sc-pr-item-title"><a href="{{url}}">{{title}}</a></h3>
                            <p class="sc-pr-item-meta">
                                <span class="sc-pr-meta-fallback">{{#if primary_author}}{{primary_author.name}}{{else}}{{@site.title}}{{/if}}</span>
                                <span class="sc-pr-meta-fallback">{{date format="MMM D, YYYY"}}</span>
                                <span class="sc-pr-meta-flags">
                                    {{#foreach tags visibility="all"}}
                                        {{#match slug "^hash-"}}
                                        <span class="sc-pr-internal-flag">{{name}}</span>
                                        {{/match}}
                                    {{/foreach}}
                                </span>
                            </p>
                        </div>
                    </article>
                    {{/foreach}}
                {{else}}
                    {{#get "posts" filter="(tag:press-release,tag:press-releases)+tag:-jobs+tag:-job+tag:-careers+tag:-hiring+tag:-events+tag:-event+tag:-hash-jobs+tag:-hash-job+tag:-hash-careers+tag:-hash-hiring" limit="3" include="authors,tags" order="published_at desc"}}
                        {{#foreach posts}}
                        <article class="sc-pr-item">
                            <a class="sc-pr-item-image" href="{{url}}" aria-label="{{title}}">
                                <img src="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}{{asset 'imagesAndIcons/press.png'}}{{/if}}" alt="{{title}}" loading="lazy" />
                            </a>
                            <div class="sc-pr-item-content">
                                <span class="sc-pr-item-tag">{{#if primary_tag}}{{primary_tag.name}}{{else}}{{t "Latest"}}{{/if}}</span>
                                <h3 class="sc-pr-item-title"><a href="{{url}}">{{title}}</a></h3>
                                <p class="sc-pr-item-meta">
                                    <span class="sc-pr-meta-fallback">{{#if primary_author}}{{primary_author.name}}{{else}}{{@site.title}}{{/if}}</span>
                                    <span class="sc-pr-meta-fallback">{{date format="MMM D, YYYY"}}</span>
                                    <span class="sc-pr-meta-flags">
                                        {{#foreach tags visibility="all"}}
                                            {{#match slug "^hash-"}}
                                            <span class="sc-pr-internal-flag">{{name}}</span>
                                            {{/match}}
                                        {{/foreach}}
                                    </span>
                                </p>
                            </div>
                        </article>
                        {{/foreach}}
                    {{/get}}
                {{/if}}
            {{/get}}
            {{/if}}
        </div>

        <div class="sc-pr-cta">
            <div class="sc-pr-cta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path d="M1.82812 7.76603C1.82812 4.56824 3.65543 3.19775 6.3964 3.19775H15.5329C18.2739 3.19775 20.1012 4.56824 20.1012 7.76603V14.1616C20.1012 17.3594 18.2739 18.7299 15.5329 18.7299H6.3964" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.533 8.22314L12.6733 10.5073C11.7322 11.2565 10.1881 11.2565 9.24708 10.5073L6.39648 8.22314" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.82812 15.0752H7.31005" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.82812 11.4209H4.56909" stroke="#292D32" stroke-width="1.37048" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="sc-pr-cta-copy">
                <h3>{{{t "Submit Your <span>Press Release</span>"}}}</h3>
                <p>{{t "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to"}}</p>
            </div>
            <a href="{{@site.url}}/advertise/" class="sc-pr-cta-btn">{{t "View All Benefits"}}</a>
        </div>
    </div>
</section>